<!-- post_detail.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="post-detail-table">
    <table>
        <thead>
            <tr>
                <th>Titel</th>
                <th>Inhalt</th>
                <th>Erstellt von</th>
                <th>Datum</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.Title }}</td>
                <!-- Verwenden Sie den 'safe' Filter, um HTML-Inhalte richtig zu rendern -->
                <td>{{ post.Content | safe }}</td>
                <td>{{ post.author.username }}</td>
                <td>{{ post.PostDate.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ post.author.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
